@using Dr.NutrizioNino.Models.Dto
@rendermode InteractiveServer

<table class="table">
    <thead>
        <tr>
            <th>Guid</th>
            <th>Nome</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in brands)
        {
            <tr>
                <td>@brand.Id</td>
                <td>@brand.Name</td>
                <td><button class="btn btn-warning" @onclick="()=>OnModifyCallBack.InvokeAsync(brand)">Modifica</button></td>
                <td><button class="btn btn-danger" @onclick="()=>OnDeleteCallBack.InvokeAsync(brand)">Elimina</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public IList<BrandDto>? brands { get; set; } = [];
    BrandDto? currentBrand;

    [Parameter] public EventCallback OnModifyCallBack { get; set; }

    [Parameter] public EventCallback OnDeleteCallBack { get; set; }
}
