@page "/brands"
@using Dr.NutrizioNino.Models.Dto
@using Dr.NutrizioNino.Web.Services
@attribute [StreamRendering]
@inject BrandsClient client

<PageTitle>Marche</PageTitle>


<h1>Marchi</h1>
<p>Anagrafica dei marchi</p>
<button>+</button>

@if (brands == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (currentBrand == null)
    {
        <BrandsList brands="brands" OnModifyCallBack="(value) => { currentBrand = (BrandDto)value;}" 
            OnDeleteCallBack="(value) => { OnDelete((BrandDto)value); }"></BrandsList>
    }
    else
    {
        <BrandsDetail brand="currentBrand" OnSave="(value) => OnSave((BrandDto)value)" OnUndo="OnUndo"></BrandsDetail>
    }    
}

@code {
    private IList<BrandDto>? brands = [];
    private bool getBranchesError;
    private bool shouldRender = false;
    public BrandDto currentBrand { get; set; }

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {

        var response = await client.GetBrandsAsync();
        if (response.Data != null)
            brands = response.Data;
        else
            brands = new List<BrandDto>();

        shouldRender = true;
    }


    private void OnDelete(BrandDto brand)
    {
        //TODO: var deleted = service.Delete(brand);
        //if (deleted)
        brands.Remove(brand);
    }

    private void OnCreate()
    {
        currentBrand = new BrandDto(Guid.Empty, "");
    }

    private void OnSave(BrandDto brand)
    {
        //TODO: var created = service.Create(brand);
        //if (created)
        brands.Insert(0, brand);
    }

    private void OnUndo()
    {
        currentBrand = null;
    }
}
